.feedback-container {
    background-color: rgba(234, 228, 228, 0.5);
    padding: 10rem 2rem;
    text-align: center;
}

.stars-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.star {
    cursor: pointer;
    color: #8e8888;
    font-size: 3rem;
    margin-left: 3px;
}

.star-checked {
    color: #c99e13;
}

.star:hover {
    color: #ffc717;
}

.star-tmp {
    color: rgb(255, 209, 0);
}

.feedback-text {
    margin: 1rem auto;
    width: 75%;
    min-height: 35vh;
    font-size: 2rem;
}

@media (max-width: 576px) {
    .star {
        font-size: 1.5rem;
    }

    .feedback-text {
        width: 100%;
    }
}
