.survey-name {
    color: rgb(33, 37, 41);
    text-align: center;
}

.survey-description {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: lighter;
    color: #42484b;
}

.survey-questions {
    background-color: rgba(45, 175, 255, 0.84);
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 0 50px 25px rgba(28, 92, 138, 0.66) inset;
}
